<%= form_for :safety_check, url: message_update_path(@bike), :action => 'message_update', html: {class: "checkBox"}, remote: true do |safe| %>
<div class="form-check">
   <label class="form-check-label">
   <%= safe.check_box :tire_pressure %>Tire Pressure
   </label>
   <label class="form-check-label">
   <%= safe.check_box :tire_tread %>Tire Treads
   </label>
   <label class="form-check-label">
   <%= safe.check_box :quick_release %>Quick Release Parts
   </label>
   <label class="form-check-label">
   <%= safe.check_box :wheels_spin_right %>Check Wheel Alignment
   </label>
	<label class="form-check-label">
	<%= safe.check_box :brakes %>Check Brake Function
	</label>
	<label class="form-check-label">
	<%= safe.check_box :chain %> Check Chain
	</label>
	<label class="form-check-label">
	<%= safe.check_box :tools %>Bring tools?
	</label>
</div>
<%= safe.submit 'Save' %>
<% end %>