<%= form_for :safety_check, url: bike_message_update_path(@bike), action: 'message_update', html: {class: "checkBox"}, remote: true do |safe| %>
<div class="form-check">
   <label class="form-check-label" id="tirePressure">
   <%= safe.hidden_field :tire_pressure %>
   <%= safe.check_box :tire_pressure, onclick: 'test();'%>Tire Pressure
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :tire_tread %>
   <%= safe.check_box :tire_tread %>Tire Treads
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :quick_release %>
   <%= safe.check_box :quick_release %>Quick Release Parts
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :wheels_spin_right %>
   <%= safe.check_box :wheels_spin_right %>Check Wheel Alignment
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :brakes %>
   <%= safe.check_box :brakes %>Check Brake Function
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :chain %>
   <%= safe.check_box :chain %> Check Chain
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :tools %>
   <%= safe.check_box :tools %>Bring tools?
   </label>
</div>
<%= safe.submit 'Save' %>
<% end %>
<script>
   var tire = document.getElementById('tirePressure');
   
   function test() {
      //alert('tire pressue box');


   }

   
</script>