<%= form_for :safety_check, url: bike_message_update_path(@bike), action: 'message_update', html: {class: "checkBox"}, remote: true do |safe| %>
<div class="form-check">
   <label class="form-check-label" id="tirePressure">
   <%= safe.hidden_field :tire_pressure %>
   <%= safe.check_box :tire_pressure, checked: @bike.safety_check.tire_pressure %>Tire Pressure
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :tire_tread %>
   <%= safe.check_box :tire_tread, checked: @bike.safety_check.tire_tread %>Tire Treads
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :quick_release %>
   <%= safe.check_box :quick_release, checked: @bike.safety_check.quick_release %>Quick Release Parts
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :wheels_spin_right %>
   <%= safe.check_box :wheels_spin_right, checked: @bike.safety_check.wheels_spin_right %>Check Wheel Alignment
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :brakes %>
   <%= safe.check_box :brakes, checked: @bike.safety_check.brakes %>Check Brake Function
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :chain %>
   <%= safe.check_box :chain, checked: @bike.safety_check.chain %> Check Chain
   </label>
   <label class="form-check-label">
   <%= safe.hidden_field :tools %>
   <%= safe.check_box :tools, checked: @bike.safety_check.tools %>Bring tools?
   </label>
</div>
<%= safe.submit 'Save', class: 'click' %>
<% end %>
<script>
   $(function() {       
    $("click").click(function() {
        $(this).find('input:checkbox').prop("checked", true);
    });
});

   
</script>