<!DOCTYPE html>
<html>
   <head>
      <title>BikeCheck v0.0.1</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>
   <body>
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <nav class="navbar navbar-light bgThemeColor">
         <ul class="nav navbar-nav">
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %></li>
            <li>Welcome <%= current_user.email if current_user %></li>
            <!--add to drop down along with sign out -->
           
         </ul>
      </nav>
      <%= yield %>
   </body>
</html>